PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(13,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(14,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(15,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "role" varchar not null default 'user', "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
INSERT INTO users VALUES(2,'admin1','admin1@gmail.com',NULL,'$2y$12$W6T1BpCeoxOplJmHpe62ouX8psTHd9RAUdpBV6e9cwMPfbR6RER12','admin',NULL,'2025-10-27 03:09:15','2025-10-27 03:09:15');
INSERT INTO users VALUES(3,'wow1','admin2@gmail.com',NULL,'$2y$12$fa8SHc8tb5B0Ym/2sVJFjeXwlaCII66EwliP1xxwaGzNYO/IM/HL2','admin',NULL,'2025-10-27 05:51:29','2025-10-27 05:51:29');
INSERT INTO users VALUES(4,'user','user@gmail.com',NULL,'$2y$12$NPK4XIk.7WlFnDzJH9.2xuWVHpcJpqxxtxRRumzCeLtlwaC4r3cqW','user',NULL,'2025-10-27 07:53:25','2025-10-27 07:53:25');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('JHrjZV6XhqaspQnosAqKIByQHKg3lmwIRQ4w9250',3,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoiR3IxT3VOWlMwdmxsOEptMUVSVjh0dmpxWVJYWkJiNVJJYkhuTDBKaSI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJuZXciO2E6MDp7fXM6Mzoib2xkIjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MzM6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC9hZG1pbi91c2VycyI7fXM6NTA6ImxvZ2luX3dlYl81OWJhMzZhZGRjMmIyZjk0MDE1ODBmMDE0YzdmNThlYTRlMzA5ODlkIjtpOjM7fQ==',1761563810);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "kategori" ("id" integer primary key autoincrement not null, "nama" varchar not null, "deskripsi" text, "created_at" datetime, "updated_at" datetime);
INSERT INTO kategori VALUES(1,'asdas',NULL,'2025-10-27 06:23:39','2025-10-27 06:23:39');
CREATE TABLE IF NOT EXISTS "produk" ("id" integer primary key autoincrement not null, "nama" varchar not null, "kategori_id" integer not null, "harga" numeric not null default '0', "foto" varchar, "detail" text, "ketersediaan_stok" varchar check ("ketersediaan_stok" in ('tersedia', 'habis')) not null default 'tersedia', "created_at" datetime, "updated_at" datetime, foreign key("kategori_id") references "kategori"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "admins" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "password" varchar not null, "created_at" datetime, "updated_at" datetime);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',18);
INSERT INTO sqlite_sequence VALUES('users',6);
INSERT INTO sqlite_sequence VALUES('kategori',1);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "kategori_nama_unique" on "kategori" ("nama");
CREATE UNIQUE INDEX "admins_email_unique" on "admins" ("email");
COMMIT;
